body {
    font-family: 'Quicksand', sans-serif;
}
#login {
    background-color: #929292;
}

div.center {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.white-box {
    background-color: white;
    width: 70rem;
    height: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.center-x-y {
    top: 20%;
    margin-top: 35%;
    transform: translateY(-50%);
}

h1.login-title {
    margin-top: 10%;
    font-size: 5em;
    color: #e61610;
}

input[type="text"].login, input[type="password"].login {
    width: 25em;
    font-size: 1.75em;
    padding: 0.25em;
}

label.login {
    font-size: 2.5em;
    color: #e61610;
    font-weight: 300;
    margin-bottom: 0.5em;
}

input[type="submit"].login-button {
    width: 50%;
    margin-top: 2em;
    background: #e61610;
    color: white;
    font-size: 2em;
    /* padding: 0.5em; */
    border-radius: 0.25em;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

/* .welcome {

} */

.navigation-bar {
    background-color: #e61610; 
    font-size: 3em; 
    border-style: solid; 
    border-width: 0px 2px 0px 2px; 
    border-color: black;
}

div.white-box-2 {
    background-color: white;
    width: 150rem;
    min-height: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.title {
    width: fit-content;
    background-color: #999999;
    padding: 0.5em;
    padding-left: 6em;
    padding-right: 6em;
    border-radius: 1em;
    color: white;
}

.grey-button {
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    background: #ebebeb;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: #e61610;
    text-decoration: none;
    display: table;
}

.grey-button:hover {
    background: #e61610;
    color: white;
}

th.contractor{
    font-size: 100px;
    padding: 200px;
}

th > a.contractor{
    border: 1px solid black;
    padding: 200px;
    color: black; 
    text-decoration: none; 
    font-weight: 500;
}

td.contractor {
    font-size: 40px; 
    text-align: right; 
    padding: 200px; 
    padding-top: 30px;
}

td > a.contractor {
    border: 1px solid black; 
    padding: 30px;
    background-color: #ebebeb;
    color: black;
    text-decoration: none;
}
a.contractor:hover {
    background-color: #757575;
    color: white;
}

/* .row-margin-05 { margin-top: 0.5em; }


table.contractorCarRecord {
    border-collapse: separate;
    border-spacing: 1em 2em;
    font-size: 2em;
}

table.contractorCarRecord td, table.contractorCarRecord th{
    padding-top: 1em;
    padding-bottom: 1em;
}
table.contractorCarRecord tr {
    outline: auto;
} */
/* 
table.contractorCarRecord tr th {
    background-color: #c0c0c0;
} */

/* table tr td, table tr th { padding: 0; } */


table.contractorCarRecord {
    border-collapse: collapse;
}
table.contractorCarRecord th {
    background-color:#c0c0c0;
    Color:black;
}
table.contractorCarRecord th, table.contractorCarRecord td, table.carRecordData th, table.carRecordData td {
    width:100em;
    height:100px;
    text-align:center;
    padding:5px
}
table.contractorCarRecord tr, table.carRecordData tr{
    outline: auto
}
.borderStyleCarRecord {
    border-right:hidden;
}
.carRecordData {
    border-collapse:separate;
    border-spacing:0 15px;
}

table.contractorCarRecord, table,.carRecordData {
    margin-left: 5em;
    margin-right: 5em;
}


form.left-form {
    width: fit-content;
    margin: 0;
    margin-left: 5em;
    display: inline-table;
}

form.right-form {
    width: fit-content;
    margin: 0;
    float: right;
    margin-right: 5em;
    display: inline-table;
}

.container-form {
    width: fit-content;
    margin: 0;
    display: inline-table;
    height: 50vh;
    width: 50vh;
    outline: auto;
}

.center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
    text-align: left;
    width: auto;
    margin-left: 2em;
    margin-right: 2em;
}

.form-label {
    font-size: 2em;
    color: #e61610;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.form-input {
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em;
}

.form-button {
    float: right;
    transform: translate(-1em, -1em);
    font-size: 1.5em;
    width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #72bb53;
    color: white;
    border: none;
    border-radius: 3px;
}
/* .nav-fill .nav-item, .nav-fill>.nav-link {
    flex: 1;
} */

.platypus {
    background-color: #e61610;
    font-size: 3em;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: black;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.nav-link.active {
    background-color: #e61610; font-size: 2em; padding-top: 1em; padding-bottom: 1em; border-style: solid; border-width: 0px 2px 0px 2px; border-color: black;
}